main {
  overflow-y: auto;
  overflow-x: hidden;
}

div#table-administradores_filter {
  margin-bottom: 1rem;
}

table#table-administradores {
  width: 100%;
  display: table;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

table#table-administradores tbody tr.even {
  background-color: #fff;
}

table#table-administradores tbody tr.odd {
  background-color: rgba(0, 0, 0, 0.05);
}

table#table-administradores tbody tr:hover {
  background-color: #2d6e3d45;
}
table#table-administradores thead th {
  color: #2d6e3d;
  text-align: start;
}

table#table-administradores tbody tr td {
  font-size: 14px;
  padding: 6px 8px;
}
table#table-administradores tbody tr td:nth-child(1),
table#table-administradores tbody tr td:nth-child(6) {
  white-space: nowrap;
}

table#table-administradores tbody tr td:nth-child(3),
table#table-administradores tbody tr td:nth-child(4),
table#table-administradores tbody tr td:nth-child(5),
table#table-administradores tbody tr td:nth-child(6),
table#table-administradores tbody tr td:nth-child(7),
table#table-administradores tbody tr td:nth-child(8) {
  text-align: center;
}

table#table-administradores tbody td:not(:nth-child(-n + 2)) {
  text-transform: capitalize;
}

table#table-administradores tbody td:nth-child(1) {
  text-transform: uppercase !important;
}

div#table-administradores > label {
  background-color: #2d6e3d;
  padding-left: 8px;
  border-radius: 3px;
  color: whitesmoke;
  display: inline-block;
  font-size: 0.8571em;
  margin-bottom: 5px;
}

input[aria-controls="table-administradores"] {
  width: 400px;
  background-color: whitesmoke !important;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  outline: 1px solid transparent;
}

div.datatable_operation_buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

div#table-administradores_filter > label {
  display: inline-block;
  background-color: #2d6e3d;
  font-size: 1rem;
  margin-bottom: 5px;
  padding-left: 8px;
  border-radius: 3px;
  color: whitesmoke;
}
input[aria-controls="table-administradores"] {
  width: 400px;
  background-color: whitesmoke !important;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  outline: 1px solid transparent;
}

.cup-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 0.167em;
  margin-bottom: 0.333em;
  padding: 0.2em 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.88em;
  line-height: 1.6em;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    to bottom,
    rgba(230, 230, 230, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  user-select: none;
  text-decoration: none;
  outline: none;
  text-overflow: ellipsis;
}
.cup-button:hover:not(:disabled) {
  background: linear-gradient(
    to bottom,
    rgba(153, 153, 153, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border: 1px solid #666;
}

.cup-button:disabled {
  background-color: #d3d3d3;
  cursor: default;
  color: #9a9a9a;
}

/* Modal */
div.modal {
  position: absolute;
  z-index: 15;
  background-color: rgba(30, 29, 29, 0.43);
  top: 58px;
  left: 258px;
  bottom: 38px;
  right: 0px;
  display: none;
  justify-content: center;
  align-items: center;
}

div.modal.expanded {
  display: block;
}

div.modal_container {
  position: relative;
  height: auto;
  width: 30%;
  border-radius: 5px;
  background-color: rgb(252, 252, 252);
  box-shadow: 0px 0px 8px 4px #80808094;
  padding: 0.5rem;
}
div.close_modal {
  position: absolute;
  display: block;
  top: 0.5rem;
  right: 1rem;
  color: #3d3838;
}
div.close_modal:hover {
  cursor: pointer;
  color: #2d6e3d;
}

div.close_modal span {
  display: block;
  transform: rotate(45deg);
  font-size: 2rem;
  font-family: monospace;
  font-weight: 700;
}
input[type="radio"] {
  cursor: pointer;
}
div.radio_form {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0px;
}
div.radio_form label {
  margin-left: 6px;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  display: block;
  color: #2d6e3d;
}
button#generate_new_user {
  background-color: #2d6e3d;
  color: white;
  font-weight: lighter;
  padding: 0.5rem 0;
  border: none;
  border-radius: 3px;
}
button#generate_new_user:hover {
  background-color: #2d6e3de6;
  cursor: pointer;
}

tr.isSelected {
  background-color: #2d6e3d45 !important;
}
tr.isSelected td {
  color: white;
}

table#table-administradores tbody tr:hover {
  background-color: #2d6e3d45;
}

input[type="checkbox"].check_button {
  cursor: pointer;
}

#button-add {
  display: flex;
  gap: 0.5rem;
  height: 32px;
  align-items: center;
  float: right;
  padding: 0 2rem;
  border: none;
  font-size: 12px;
  background: rgb(45, 110, 61);
  border-radius: 4px;
  transition: all 100ms linear;
  color: white;
}

#button-add:hover {
  cursor: pointer;
  background: rgb(45, 90, 61);
  transition: all 100ms linear;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 4px 8px !important;
  font-size: 14px;
}
