<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <aside>
    <ul class="navigation-link">
      <li>
        <a href="#">Operaciones</a>
        <ul class="navigation-link sub-navigation">
          <li> <!-- Conductores -->
            <a href="">Conductores</a>
            <ul>
              <li>
                <a href="#">Alta Conductor</a>
              </li>
            </ul>
          </li>
          <li> <!-- Vehiculos -->
            <a href="">Vehiculos</a>
            <ul>
              <li>
                <a href="#">Alta Vehiculos</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
</body>

</html>